/* ---------------------------------------- CSS STYLE SHEET ----------------------------------------*/

/* -------------------- @ MEDIA QUERIES RESPONSIVE TO MOBILE , TABLET AND LAPTOP -------------------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 425px) {
    html, body {
        font-family: 'Roboto', sans-serif;
        margin: auto;
        height: 100%;
        /*background-color: rgb(216, 248, 255);*/
    }
    /*---------------------------------------- HEADER ----------------------------------------*/
    h1 {
        text-align: left;
        margin: auto;
        background-color: transparent;
    }
    header::after {
        content: "";
        clear: both;
        display: table;
    }
    /* The hero image */
    .hero-banner {
        /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/img/flower1.jpg");
        /* Set a specific height */
        height: 100%;
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    header {
        color: white;
        /*background-color: rgb(15 30 61);/*/
        padding: 5rem;
        margin: auto;
    }
    header p {
        text-align: left;
        font-weight: 500;
        font-size: large;
        word-spacing: 2px;
        padding-top: 1rem;
        margin-left: 26rem;
        margin-right: 4rem;
        background-color: transparent;
    }
    .myinfo p {
        padding-top: 0.5rem;
        text-align: left;
    }
    .mypic {
        border-style: solid;
        border-width: 0.3rem; 
        border-color: white;
        border-radius: 100%;
        width: 25rem;
        height: 30rem;
        display: block;
        float: left;
        margin: 0.6rem 3rem;
        width: 12rem;
        height: 11rem;
   }
   h1 {
        font-size: 1.5rem;
        text-align: center;
        background-color: #052558e3;
   }
   h2 {
        margin: 0;
   }
   header {
        padding: 0.4rem 4rem;
   }
   header p {
        line-height: 1.2rem;
        font-size: 0.9rem;
        padding: 4px;
        margin: 0;
        background-color: #052558e3;
   }
   /* ---------------------------------------- ASIDE ----------------------------------------*/
    aside ul {
        display: flex;
        flex-wrap: nowrap;
        /* margin-left: -1rem; */
   }
   aside li {
        border-style: solid;
        border-width: 1px;
        list-style-type: none;
        padding: 0.5rem;
        margin-left: 0rem;
        margin-right: 2rem;
   }
   aside a {
        text-underline-offset: none;
        font-weight: bolder;
        margin: 0rem;
        font-size: 20px;
   }
   h2 {
        text-decoration: underline;
    }
    /* ---------------------------------------- SECTION ----------------------------------------*/
    .section {
        border-style: solid;
        border-width: 1px;
        margin-right: 5rem;
        margin-left: 5rem;
        padding: 2rem;
    }
    /* ---------------------------------------- QUALIFICATION, ARTICLE, SKILLS----------------------------------------*/
    .quali, article, .skills {
        border-style: solid;
        border-width: 1px;
        margin-right: 5rem;
        margin-left: 5rem;
        padding: 2rem;
        margin-top: 2rem; 
    }
    /*---------------------------------------- FOOTER ---------------------------------------- */
    .social-media, .contact-me {
        border-style: solid;
        border-width: 1px;
        margin-right: 5rem;
        margin-left: 5rem;
        padding: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
   .section, .quali, article, .skills {
        margin-right: 3rem;
        margin-left: 3rem;
        padding: 1rem;
        margin-top: 1rem; 
   }
   .social-media, .contact-me {
    margin-right: 3rem;
    margin-left: 3rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
    /* ---------------------------------------- FORM STYLE ------------------------------------------------- */
    form {
        font-size: 1.1rem;
    }
    .topic, .email {
        margin-top: 5px;
    }
    textarea {
        display: block;
        font-family: 'Ro boto', sans-serif;
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem 0.75rem;
        margin-top: 1px;
    }
    .topic, .email {
        margin-top: 1px;
    }
    .button {
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        border: 0;
        padding: 5px 0px;
        line-height: 1.5;
        width: 35%;
        height: 40%;
        margin-top: 10px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        border-radius: 10px;
        background-color: rgba(0, 103, 220, 0.904);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .mypic {
        margin: 4rem 3rem;
        width: 15rem;
        height: 15rem;
    }
    h1 {
        font-size: 2.5rem;
        text-align: left;
        padding: 1rem 0;
        margin: 2rem 0rem 0;
    }
    header {
        padding: 0.4rem 2rem;
    }
    header p {
        line-height: 1.6rem;
        font-size: 1.3rem;
    }
    aside a {
        font-size: 24px;
    }
    aside li {
        margin-left: 3rem;
        margin-right: 4.5rem;
    }
    .section, .quali, article, .skills {
        margin-top: 1.5rem; 
    }
    .social-media, .contact-me {
        margin-top: 1.5rem;
    }
    textarea {
        width: 100%;
        margin-top: 2px;
    }
   
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
    .mypic {
        width: 16rem;
        height: 17rem;
    }
    h1 {
        font-size: 4rem;
        background-color: transparent;
    }
    header p {
        background-color: transparent;
        line-height: 1.8rem;
        /* font-size: 1.5rem; */
        font-weight: 500;
    }
    aside li {
        margin: 0 6rem;
    }
    aside li:hover {
        border-style: none;
        background-color: rgb(55 69 109);
    }
    aside a:hover{
        color: white;
    
    }
    /* aside a {
        font-size: 30px;
    }
    .section h2, .section h3, .quali h2, .quali h3, article h3{
        font-size: 1.5rem;
    }
    .section li, .quali li, article li, .skills li, .social-media li, .contact-me li, .section p, .quali p {
        font-size: 1rem;
    } */
    .button {
        width: 25%;
    }
    .button:hover {
        font-size: 1.2rem;
    }
    label {
        font-size: 1.2rem;
    }
    .topic, .email {
        margin-top: 1px;
        margin-left: 1px;
    }
    form {
        padding-top: 1rem;
    }
    textarea {
        margin-top: 1px;
    }
} 

/*  ------------------------------------------ END OF RESPONSIVE ---------------------------------------- */